<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="custom-header scalar-app">
        <b>BillyDoesDev</b>
        <nav>
            <a href="https://github.com/BillyDoesDev/keploy-assignment-api">GitHub</a>
        </nav>
    </header>
    <script id="api-reference" data-url="/swagger.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
</body>

</html>